<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container d-flex justify-content-center">
        <div class="col-6">
            <h2>회원가입</h2>
            <form action="/auth/join" method="post" th:action="@{/auth/join}" th:object="${joinDto}">
                <div class="mb-3">
                    <label for="userID" class="form-label">아이디</label>
                    <input type="text" class="form-control" id="userID" name="userID" th:field="*{userID}" placeholder="아이디를 입력하세요.">
                    <p class="error" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}"></p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">패스워드</label>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="비밀번호를 입력하세요.">
                    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">H.P</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                </div>
                <div class="mb-3">
                    <label for="mbti" class="form-label">MBTI</label>
                    <input type="text" class="form-control" id="mbti" name="mbti">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">자기소개</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="mt-2">
                    <button class="btn btn-dark w-100 py-2 mt-5" type="submit">가입하기</button>
                </div>
            </form>
            <div class="mt-2">
                <button class="btn btn-dark w-100 py-2 mt-5" type="submit">로그인</button>
                <a href="/mail/find-password" class="btn btn-dark w-100 py-2 mt-5">비밀번호찾기</a>
            </div>
        </div>
    </div>
</div>
</html>