<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>정보수정</h2>
        <form action="/member/modify" method="post">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">아이디</th>
                <td th:text="${memberInfo.userID}"></td>
                <input type="hidden" name="userID" th:value="${memberInfo.userID}">
                <input type="hidden" name="id" th:value="${memberInfo.id}">

            </tr>
            <tr>
                <th scope="row">닉네임</th>
                <td>
                    <input th:type="text" name="nickName" th:value="${memberInfo.nickName}">
                </td>
            </tr>
            <tr>
                <th scope="row">이메일</th>
                <td>
                    <input th:type="text" name="email" th:value="${memberInfo.email}">
                </td>
            </tr>
            </tbody>
        </table>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-dark">확인</button>
            </div>
        </form>
    </div>
</div>

</html>