<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container d-flex justify-content-center">
        <div class="col-12">
            <h2 class="mb-3">MY PAGE</h2>
            <div class="myPage-header">
                <div class="profile">
                    <th:block th:if="${memberInfo.member.profileImageUrl == null}">
                    <i class="bi bi-person-circle" style="font-size: 100px"></i>
                    </th:block>
                    <th:block th:unless="${memberInfo.member.profileImageUrl == null}">
                    <img src="" th:src="@{|/upload/${memberInfo.member.profileImageUrl}|}" id="memberProfileImage">
                    </th:block>
                </div>
                <form action="" method="post" enctype="multipart/form-data" id="profileImageForm" style="display: none">
                    <input th:type="file" name="profileImageUrl" id="profileSelect">
                </form>
                <div class="info">
                    <div class="btns">
                        <th:block th:if="${memberInfo.pageOwner}">
                            <a href="/image/upload" class="btn btn-outline-dark">스토리</a>
                        </th:block>
                        <th:block th:unless="${memberInfo.pageOwner}">
                            <button class="btn btn-outline-dark" id="btnSubscribe"
                                    th:data-idx="${memberInfo.member.id}"
                                    th:if="${memberInfo.subscribeState}" data-subscribe="cancel">구독취소</button>
                            <button class="btn btn-outline-dark" id="btnSubscribe"
                                    th:data-idx="${memberInfo.member.id}"
                                    th:unless="${memberInfo.subscribeState}" data-subscribe="confirm">구독하기</button>
                        </th:block>
                        <button class="btn btn-outline-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#menuModal"><i class="bi bi-person-fill-gear"></i>
                        </button>
                    </div>
                    <div class="subscribe mt-3 mb-3">
                        <button type="button" class="btn btn-outline-dark position-relative" id="btnSubscribeInfo">
                            구독자수
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                <span id="subscribeCount" th:text="${memberInfo.subscribeCount}">99+</span>
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="title mt-3">
                        <div th:text="${memberInfo.member.name}" style="font-size:30px; font-weight: bold">이름</div>
                        <div th:text="${memberInfo.member.mbti}" style="font-size: 20px; font-weight: bold">MBTI</div>
                        <span><소개글></span>
                        <div th:text="${memberInfo.member.description}">자기소개</div>
                    </div>
                </div>
                <div class="story-list mypage-story-list">
                    <ul>
                        <th:block th:each="item:${memberInfo.member.imageList}">
                            <li>
                                <img src="/images/star.png" th:src="@{|/upload/${item.imageUrl}|}">
                                <div class="overlay">
                                    <span class="like-icon">
                                            <i class="bi bi-heart-fill text-white fs-3"></i>
                                    </span>
                                    <span class="text-white fs-3" th:text="${item.likeTotal}">7</span>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="menuModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-grid">
                    <a href="/auth/logout" class="btn btn-dark"> 로그아웃 </a>
                    <a href="/member/modify/1" th:href="@{/member/modify/{id}(id=${memberInfo.member.id})}" class="btn btn-outline-dark mt-2"> 수정하기 </a>
                    <button type="button" class="btn btn-outline-secondary mt-2"
                            data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="subscribeInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">구독정보</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="subscribeList">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const subscribeInfoModal = new bootstrap.Modal("#subscribeInfoModal");
        let subscribeCount = [[${memberInfo.subscribeCount}]];
        const id = [[${memberInfo.member.id}]];

        $(".profile").on("click",function () {
            console.log("click");
            $("#profileSelect").trigger("click");
        });
        $("#profileSelect").on("change",function (e) {
                console.log(e);
                const file = e.target.files[0];
                if(!file.type.match("image.*")) {
                    alert("이미지 파일만 업로드 할 수 있습니다.");
                    return false;
                }
                const profileImageForm = $("#profileImageForm")[0];
                const formData = new FormData(profileImageForm);
                console.log(formData);
                //key:value
                $.ajax({
                    url: `/api/member/${id}/profileImageUrl`,
                    data: formData,
                    method: "put",
                    contentType: false, // x-www-form-urlencode로 되는거 막기
                    processData: false, // query string으로 parsing 되는거 막기
                    success: function (response) {
                        console.log(response);
                        const fileReader = new FileReader();
                        fileReader.onload = function () {
                            $("#memberProfileImage").attr("src","/upload/" + response.memberInfo.member.profileImageUrl);
                        }
                        fileReader.readAsDataURL(file);
                    }
                })
            });


        $("body").on("click", "#btnSubscribe",function () {
                const subscribe = $(this).data("subscribe");
                const _this = $(this);
                const id = $(this).data("idx");
                if(subscribe === "confirm") {
                    $.ajax({
                        url: "/api/subscribe/" + id, //insert를 하는 뭔가가 있다.
                        method: "post",
                        success: function (response) {
                            console.log(response);
                            _this.data("subscribe","cancel");
                            _this.text("구독취소");
                            subscribeCount++;
                            $("#subscribeCount").text(subscribeCount);
                        }
                    })
                }else {
                    $.ajax({
                        url: "/api/subscribe/" + id,
                        method: "delete",
                        success: function (response) {
                            console.log(response);
                            _this.data("subscribe","confirm");
                            _this.text("구독하기");
                            subscribeCount--;
                            $("#subscribeCount").text(subscribeCount);
                        }
                    })
                }
            })

        $("#btnSubscribeInfo").on("click", function () {
            subscribeInfoModal.show();
            $.ajax({
                url: `/api/member/${id}/subscribe`,
                success: function (response) {
                    console.log(response);
                    let tempHtml = "";
                    if(response.subscribeList.length === 0) {
                        tempHtml = "<p>구독하는 사람이 없습니다.</p>"
                    } else {
                        $.each(response.subscribeList, function (idx, item) {
                            const profileImageUrl = item.profileImageUrl;
                            const name = item.name;
                            const equalState = item.equalState;
                            const subscribeState = item.subscribeState;
                            let btn = "";
                            if (equalState === "1") {
                                btn = "";
                            } else {
                                if (subscribeState !== "1") {
                                    btn = `<button class="btn btn-dark" id="btnSubscribe" data-idx="${item.id}">구독하기</button>`;
                                }
                                    btn = `<button class="btn btn-dark" id="btnSubscribe" data-idx="${item.id}">구독취소</button>`;
                            }
                            tempHtml += `<li>
                                     <span ><img src="/upload/${profileImageUrl}" class="thumb"></span>
                                     <span class="name">${name}</span>
                                     ${btn}
                                     </li>`
                        });
                    }
                    $(".subscribeList").html(tempHtml);
                }
            })
        });
    </script>
</div>
</html>