<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>MY PAGE</h2>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">아이디</th>
                <td th:text="${memberInfo.userID}">Mark</td>
            </tr>
            <tr>
                <th scope="row">닉네임</th>
                <td th:text="${memberInfo.nickName}">Mark</td>
            </tr>
            <tr>
                <th scope="row">성별</th>
                <td th:text="${memberInfo.gender}">Mark</td>
            </tr>
            <tr>
                <th scope="row">나이</th>
                <td th:text="${memberInfo.age}">Mark</td>
            </tr>
            <tr>
                <th scope="row">이메일</th>
                <td th:text="${memberInfo.email}">Mark</td>
            </tr>

            </tbody>
        </table>
        <div class="mt-5 d-flex justify-content-center" >
            <a href="/member/delete" class="btn btn-dark mx-1">회원 탈퇴</a>
            <a th:href="@{/member/modify(id=${memberInfo.userID})}"
               class="btn btn-secondary mx-1">회원 정보 수정</a>
        </div>
    </div>
</div>
</html>