<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
    <div layout:fragment="content" class="main">
        <div class="container">
            <h2>MyPage</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">아이디</th>
                            <td th:text="${#authentication.principal.loggedMember.id}">Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td th:text="${#authentication.principal.loggedMember.name}">Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">이메일</th>
                            <td th:text="${#authentication.principal.loggedMember.email}">Mark</td>
                        </tr>
                    </tbody>
                </table>
            <div class="d-flex justify-content-center mt-3">
                <a href="/member/delete" class="btn btn-danger">회원탈퇴</a>
                <a href="/member/modify" class="btn btn-primary mx-2">회원정보수정</a>
            </div>
        </div>
    </div>
</html>