<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="container" th:fragment="headerFragment">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/static" th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/images/모코코.jpeg" style="max-width: 30px; max-height: 30px">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/static" th:href="@{/}" class="nav-link" aria-current="page"><i class="bi bi-house" style="font-size: 1.5rem;"></i>Home</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/board/list}" class="nav-link"><i class="bi bi-clipboard" style="font-size: 1.5rem;"></i>Board</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/board/insert}" class="nav-link"><i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>Write</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/member/join}" class="nav-link"><i class="bi bi-person-plus-fill" style="font-size: 1.5rem;"></i>Sign-Up</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/member/list}" class="nav-link"><i class="bi bi-person-lines-fill" style="font-size: 1.5rem;"></i>Member-List</a></li>
        </ul>
    </header>
</div>
</html>