<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container" style="max-width: 500px">
        <h2>비밀번호 찾기</h2>
        <form action="/mail/find-password" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요.">
            </div>
            <div class="mt-2">
                <button class="btn btn-dark w-100 py-2 mt-5" type="submit">확인</button>
            </div>
        </form>
    </div>
</div>
</html>