<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/calendar/todo">
        <div><span>시작일</span><input type="date" name="startDate"></div>
        <div><span>종료일</span><input type="date" name="endDate"></div>
        <div><span>해야할 일</span><input type="text" name="title"></div>
        <div><span>color</span><input type="color" name="backgroundColor"></div>
        <button>일정추가하기</button>
    </form>
</body>
</html>